  /* ===== SearchResults CSS ===== */

  .search-container {
    margin-left: 40px;
  }

  .result-container {
    display: block;
    margin-top: 110px;
  }

  .filter-title {
    float: left;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    color: #0f0936;
    cursor: default;
  }

  .filter {
    float: left;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    color: #0f0936;
    cursor: pointer;
    margin-left: 20px;
    box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.1);
  }